* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.image {
  width: 100px;
  height: auto;
  object-fit: contain;
  margin: 3px;
}

h1 {
  font-size: 50px;
}

.title {
  margin-top: 10vh;
  text-align: center;
}

.flex {
  display: flex;
}

.q {
  margin-top: 1vh;
  text-align: center;
}

.dd {
  width: 150px;
  margin-left: 49%;
}

.draggable {
  cursor: move;
  user-select: none;
}