{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<section>
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="container">
            <div class="card shadow">
                <div class="card-header">
                    <h2 class="display-2 text-center">Useful Links</h2>
                </div>
                <div class="card-body">
                    <div class="list-group-flush">
                        <div class="list-group-item">
                            <h3>1. About Database Management Systems (DBMS)</h3>
                            <ul>
                                <li class="lift">
                                    <a href="https://dsf.berkeley.edu/papers/fntdb07-architecture.pdf"
                                        class="text-success">Architecture of a Database System</a>
                                    by Joseph M. Hellerstein, Michael Stonebraker and James Hamilton.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/introduction-to-relational-databases/"
                                        class="text-success">Introduction to Relational Databases</a>
                                    by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/exploring-early-database-models/"
                                        class="text-success">Exploring Early Database Models</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/understanding-the-hierarchical-database-model/"
                                        class="text-success">Understanding the Hierarchical Database Model</a> by
                                    MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/understanding-the-network-database-model/"
                                        class="text-success">Understanding the Network Database Model</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/understanding-the-relational-database-model/"
                                        class="text-success">Understanding the Relational Database Model</a> by MariaDB.
                                </li>
                            </ul>
                        </div>
                        <div class="list-group-item">
                            <h3>2. Entity-Relationship (ER) Data model</h3>
                            <ul>
                                <li class="lift">
                                    <a href="https://nsu.ru/xmlui/handle/nsu/8875" class="text-success">
                                        Entity-Relationship Modeling: Historical Events, Future Trends, and Lessons
                                        Learned</a> by Peter P. Chen.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/relational-databases-basic-terms/"
                                        class="text-success">Relational Databases: Basic Terms</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/relational-databases-table-keys/"
                                        class="text-success">Relational Databases: Table Keys</a> by MariaDB.
                                </li>
                            </ul>
                        </div>
                        <div class="list-group-item">
                            <h3>3. Relational Model</h3>
                            <ul>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/relational-databases-foreign-keys/"
                                        class="text-success">Relational Databases: Foreign Keys</a> by MariaDB.
                                </li class="lift">
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/relational-databases-views/"
                                        class="text-success">Relational Databases: Views</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://people.cs.umass.edu/~yanlei/courses/CS691LL-f06/papers/SH05.pdf"
                                        class="text-success">What Goes Around Comes Around</a> by Michael Stonebraker 
                                        and Joseph M. Hellerstein.
                                </li>
                                <li class="lift">
                                    <a href="https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf"
                                        class="text-success">A Relational Model of Data Large Shared Data Banks</a> 
                                        by E. F. Codd.
                                </li>
                            </ul>
                        </div>
                        <div class="list-group-item">
                            <h3>4. Database Design</h3>
                            <ul>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-design-overview/" class="text-success">
                                        Database Design: Overview</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-lifecycle/" class="text-success">
                                        Database Lifecycle</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-design-phase-1-analysis/"
                                        class="text-success">Database Design Phase 1: Analysis</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-design-phase-2-conceptual-design/"
                                        class="text-success">Database Design Phase 2: Conceptual Design</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-design-phase-2-logical-and-physical-design/"
                                        class="text-success">Database Design Phase 2: Logical and Physical Design</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-design-phase-3-implementation/"
                                        class="text-success">Database Design Phase 3: Implementation</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-design-phase-4-testing/"
                                        class="text-success">Database Design Phase 4: Testing</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-design-phase-5-operation/"
                                        class="text-success">Database Design Phase 5: Operation</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-design-phase-6-maintenance/"
                                        class="text-success">Database Design Phase 6: Maintenance</a> by MariaDB.
                                </li>
                            </ul>
                        </div>
                        <div class="list-group-item">
                            <h3>5. Database Normalization</h3>
                            <ul>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-normalization-overview/"
                                        class="text-success">Database Normalization Overview</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-normalization-1st-normal-form/"
                                        class="text-success">Database Normalization: 1st Normal Form</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-normalization-2nd-normal-form/"
                                        class="text-success">Database Normalization: 2nd Normal Form</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-normalization-3rd-normal-form/"
                                        class="text-success">Database Normalization: 3rd Normal Form</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-normalization-boyce-codd-normal-form/"
                                        class="text-success">Database Normalization: Boyce-Codd Normal Form</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-normalization-4th-normal-form/"
                                        class="text-success">Database Normalization: 4th Normal Form</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/database-normalization-5th-normal-form-and-beyond/"
                                        class="text-success">Database Normalization: 5th Normal Form and Beyond</a> by MariaDB.
                                </li>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/understanding-denormalization/"
                                        class="text-success">Understanding Denormalization</a> by MariaDB.
                                </li>
                            </ul>
                        </div>
                        <div class="list-group-item">
                            <h3>6. Transaction Management</h3>
                            <ul>
                                <li class="lift">
                                    <a href="https://mariadb.com/kb/en/acid-concurrency-control-with-transactions/"
                                        class="text-success">ACID: Concurrency Control with Transactions</a> by MariaDB.
                                </li>
                            </ul>
                        </div>
                        <div class="list-group-item">
                            <h3>7. Object Relational Mapping (ORM)</h3>
                            <ul>
                                <li class="lift">
                                    <a href="http://www.agiledata.org/essays/mappingObjects.html"
                                        class="text-success">Mapping Objects to Relational Databases: O/R Mapping In Detail</a> 
                                        by scottwambler.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}