{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<section>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="list-group shadow">
          <div class="list-group-item">
            <h1 class="text-center">Sign up</h1>
            <br>
            <form class="form-inline" method="POST" , action="{{ url_for('signup') }}">
              <!--UserName-->
              <div class="form-group">
                <label class="form-label" for="id"> Your username </label>
                <input type="text" class="form-control form-control-sm" name="userName" id="userName"
                  placeholder="Enter your username" />
              </div>

              <!-- Password -->
              <div class="form-group">
                <label class="form-label" for="password"> Your password </label>
                <input type="password" class="form-control form-control-sm" name="password" id="password"
                  placeholder="Enter your password" />
              </div>

              <!-- Confirm Password -->
              <div class="form-group">
                <label class="form-label" for="confirmpassword"> Confirm your password </label>
                <input type="password" class="form-control form-control-sm" name="confirmpassword" id="confirmpassword"
                  placeholder="Confirm your password" />
              </div>

              <!-- Name -->
              <div class="form-group">
                <label class="form-label" for="name"> Your full name </label>
                <input type="name" class="form-control form-control-sm" name="fullName" id="fullName"
                  placeholder="Enter your name" />
              </div>

              <!-- Email -->
              <div class="form-group">
                <label class="form-label" for="email"> Your email address </label>
                <input type="email" class="form-control form-control-sm" name="email" id="email"
                  placeholder="Enter your email address" />
              </div>

              <!-- phone number -->
              <div class="form-group">
                <label class="form-label" for="phoneNumber">Your phone number</label>
                <input type="tel" class="form-control form-control-sm" name="phoneNumber" id="phoneNumber"
                  placeholder="Enter your phone number" />
              </div>
              <br>

              <!-- Buttons -->
              <div class="form-group">
                <button class="btn btn-sm w-100 btn-success lift" type="submit">Sign up</button>
                <br>
                <br>
                <a href="{{ url_for('signin') }}">
                  <button class="btn btn-sm w-100 btn-outline-secondary lift" type="button">Sign in</button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}